RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.itsallgeek.net
RewriteRule ^ https://itsallgeek.net%{REQUEST_URI} [R=301,L]
RewriteCond %{HTTPS} Off [NC]
RewriteRule ^ https://itsallgeek.net%{REQUEST_URI} [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
